<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="static\about.css" rel="stylesheet" type="text/css" media="all">
    <title>Navigation Layout</title>
</head>
<body>
    <!-- header section starts  -->
    <div class="header">
        <section class="flex">
            <a href="#" class="rainbow rainbow_text_animated"><img src="static\logo.png" style="width:5%;">Pizza Pizza</a>
            <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/menu">Menu</a>
            <a href="/store_location">Store Locate</a>
            </nav>
            <div class="icons">
                <button class="btn_s" onclick="openForm()">Register</button>
            </div>
        </section>
    </div>
    <div class="content-container">
    <h1>WELCOME TO NZ PIZZA</h1>
    <div class="paragraph-image">
        <div class="paragraph">
            There’s nothing cookie-cutter about Pizza Hut. Not our pizzas. Not our people.<br>
            And definitely not the way we live life. Around here, we don’t settle for anything less than food we’re proud to serve. <br>
            And we don’t just clock in. Not when we can also become our best, make friends, and have fun while we’re at it.<br>
            We’re the pizza company that lives life unboxed.<br>
            <br>
            We’re not for people who want to blend in: pushing boundaries is part of our heritage. We have more than 16,000 restaurants and 350,000 team members in more than 100 countries.<br>
            Whether it’s the original Stuffed Crust or putting a pizza in outer space, we never stop driving ourselves to deliver hot pizzas, fast every time – <br>
            anywhere you want to enjoy it.<br>
        </div>
        <div class="image">
            <img src="static/About 1 (1).png" alt="">
        </div>
    </div>

    <div class="paragraph-image">
        <div class="image">
            <img src="static/About 2.png" alt="">
        </div>
        <div class="paragraph">
            WHAT WE’RE ABOUT<br>
            <br>
            At Pizza Hut, we don’t just make pizza. We make people happy. Pizza Hut was built on the belief that pizza night should be special,<br>
            and we carry that belief into everything we do. With more than 55 years of experience under our belts, <br>
            we understand how to best serve our customers through tried and true service principles: <br>
            We create food we’re proud to serve and deliver it fast, with a smile.<br>
        </div>
    </div>
    <div class="paragraph-image">
        <div class="paragraph">
            WHERE WE COME FROM<br>
            <br>
            In 1958, two brothers borrowed $600 from their mom to open a pizza place in Wichita, Kansas. They named it Pizza Hut, because their sign only had room for eight letters.<br>
            How profound! Soon, the restaurant grew. Why? The pizza was awesome. The service felt like home. <br>
            And the customers were treated like family. And we’ve been delivering that same food and service ever since.<br>
        </div>
        <div class="image">
            <img src="static/Map pizza.png" alt="">
        </div>
    </div>

    <div class="paragraph-image">
        <div class="image">
            <img src="static/About 3.png" alt="" >
        </div>
        <div class="paragraph">
            FOR THE LOVE OF PIZZA SINCE 1958 <br>
            <br>
            From day one, the Carney brothers could look their customers in the eye and promise them the finest pizza in town — because they knew the farmers who grew the ingredients, 
            and they knew those farmers cared about quality. Since then, our farmers have grown right alongside us, and the ingredients we use are still our highest priority.
            No one loves pizza more than Pizza Hut. That’s why pizza is in our name — and always will be. <br>
        </div>
    </div>
    </div>
</body>
</html>
























    <!--footer section start-->
   <!---footer section---->
   <div class="footer" style="margin-top:20px;">
    <div class="contain" style="padding:20px;">
    <div class="col">
  <h1>Menu</h1>
  <ul>
    <li>Deals</li>
    <li>Pizza</li>
    <li>Sides</li>
    <li>Drinks</li>
    <li>Desserts</li>
  </ul>
</div>
 <div class="col">
 <h1>About</h1>
 <ul>
    <li>About Us</li>
    <li>Contactless delivery</li>
    <li>Nutrition</li>
 </ul>
</div>
<div class="col">
<h1>Our Policies</h1>
<ul>
 <li>Privacy</li>
 <li>Terms & Conditions</li>
 <li>FAQs & Help</li>
</ul>
</div>
<div class="col">
<h1>Visit Pizza Hut</h1>
<ul>
 <li>Locate a store</li>
 <li>Blog</li>
</ul>
</div>
<div class="col social">
  <h1>Follow Us</h1>
  <ul>
    <li><img src="static/img/twitter.png" width="25" style="width: 25px;"></li>
    <li><img src="static/img/instas.png" width="25" style="width: 25px;"></li>
    <li><img src="static/img/facebook.png" width="25" style="width: 25px;"></li>
         <li><img src="static/img/youtube.png" width="25" style="width: 25px;"></li>
  </ul>
</div>
 <div class="col social">
     <ul>
         <li><img src="static/img/apps.jpg" width="32" style="width: 200px;"></li>
     </ul>
   </div>
</div>
</div>
    
</body>
</html>
 