<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
   <link href="static\index.css" rel="stylesheet" type="text/css" media="all">
   <title>PIZZA PIZZA</title>

</head>
<style>
  body {
     background-image: url('static/background.jpg'); 
     background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat; 
  }
</style>
<body>
<!-- header section starts  -->
<div class="header">
   <section class="flex">
    <a href="/" class="rainbow rainbow_text_animated"><img src="static\logo.png" style="width:5%; ">Pizza Pizza</a>
       <nav class="navbar">
         <a href="/">Home</a>
         <a href="/about">About</a>
         <a href="/menu">Menu</a>
         <a href="/store_location">Store Locate</a>
       </nav>
       <div class="icons">
           <button class="btn_s" onclick="openForm()">Register</button>
       </div>
   </section>
</div>



  <!--- delivery form--->
  <div class="wrappered" style="position: absolute; ">
  
    <div class="form-containered">
      <div class="slide-controled">
        <input type="radio" name="slide" id="delivery" checked>
        <input type="radio" name="slide" id="takeaway">
        <label for="delivery" class="slide delivery">Delivery</label>
        <label for="takeaway" class="slide takeaway">Takeaway</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-innered">
        <form action="#" class="delivery">
          <p style="font-size:15px;"><b>CONTACTLESS DELIVERY</b></p>
          <p style="font-size:13px;">Contactless Delivery is now available ! Learn More</p>
          <div class="field">
            <input type="text" placeholder="Enter the Location for delivery" required>  </div>
            <p style="font-size:13px; margin-left:6px; color:sienna"><b>Find my current location</b></p>

        </form>
        <form action="#" class="takeaway">
           <p  style="font-size:14px;"><b>CONTACTLESS TAKEAWAY IS NOW AVAILABLE</b></p>
                <p style="font-size:13px;"> Order Online & collect safely.</p>
                <div class="field">
                <input type="text" placeholder="Enter the Location for delivery"></div>
                 <p style="font-size:13px; margin-left:6px; color:sienna"><b>Find my current location</b></p>

        </form>
      </div>
  </div>
  </div>

<!-- Wrapper and form content -->
<div class="wrapper" id="registration-wrapper">
  <div class="title-text">
      <div class="title login">Login Form</div>
      <div class="title signup">Signup Form</div>
  </div>
  <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">Login</label>
      <label for="signup" class="slide signup">Signup</label>
      <div class="slider-tab"></div>
  </div>
  <div class="form-container">
      <div class="form-inner">
          <form action="/login" class="login" method="post">
              <div class="field">
                  <input type="text" placeholder="Email Address" required name="email" id="email">
              </div>
              <div class="field">
                  <input type="password" placeholder="Password" required name="password" id="password">
              </div>
              <div class="field btn">
                  <div class="btn-layer"></div>
                  <input type="submit" value="Login">
              </div>
              <div class="signup-link">
                  Not a member? <a href="">Signup now</a>
              </div>
          </form>
          <form action="/process_form" class="signup" method="post">
            <div class="field">
              <input type="text" placeholder="Name" required name="name" id="name">
          </div>
        
              <div class="field">
                  <input type="text" placeholder="Email Address" required name="email" id="email">
              </div>
            
              <div class="field">
                  <input type="password" placeholder="Password" required name="password" id="password">
              </div>
              
              <div class="field btn">
                  <div class="btn-layer"></div>
                  <input type="submit" value="Signup">
              </div>
          </form>
      </div>
  </div>
</div>


<!--section -->
<div class="home-bg">

   <div class="slide-container">
      <div class="home_slide">
         <div class="image">
             <img src="static\img\pizzahutbody.jpg" width="100%" height="auto">
         </div>
     </div>
</div>
</div>

<!-- menu section -->
<div class="home_f2" style="text-align: center; padding: 20px;">
  <h1 style="font-size: 30px; margin-top:20px; color: #333;">Our Most Popular Deals</h1>
  <div class="col_f2" style="margin-top: 10px;">
     <ul style="list-style: none; padding: 0; display: flex; justify-content: center;">

        <li style="margin-right: 20px; margin-top: 10px; overflow: hidden; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
           <img src="static/img/b1.jpg" style="width: 450px; height: 250px; object-fit: cover; border-radius: 15px;">
        </li>

        <li style="margin-left: 20px; overflow: hidden; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
           <img src="static/img/b2.jpg" style="width: 450px; height: 250px; object-fit: cover; border-radius: 15px;">
        </li>

     </ul>
     <button class="btn_v" style="width:100%; margin-top: 20px; padding: 15px 40px; font-size: 18px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">View All Deals</button>

  </div>
</div>


<div class="home_f3" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <h1 style="font-size: 30px; text-align: center;">Our Menu</h1>
  <div class="col_f3" style="width: 95%; display: flex; justify-content: center;">
      <div class="img_m" style="width: 80%; display: flex; padding: 20px; justify-content: center;">
        <a href="/menu" style="text-decoration: none;">
          <div class="c_img1" style="margin: 20px; border-radius: 15px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <img src="static/img/margherita_pizza.jpg" style="width: 100%; height: 180px; object-fit: cover; border-radius: 15px 15px 0 0;">
              <button class="btn_mnu" style="width: 100%; padding: 20px; text-align: center; background-color: #4CAF50; color: white; border: none; border-radius: 0 0 15px 15px; cursor: pointer; font-size: 18px;">Pizza</button>
          </div>
      </a>
           
      <a href="/sides" style="text-decoration: none;">
          <div class="c_img1" style="margin: 20px; border-radius: 15px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <img src="static/img/side.jpeg" style="width: 100%; height: 180px; object-fit: cover; border-radius: 15px 15px 0 0;">
              <button class="btn_mnu" style="width: 100%; padding: 20px; background-color: #FF9800; color: white; border: none; border-radius: 0 0 15px 15px; cursor: pointer; font-size: 18px;">Sides</button>
          </div>
          </a>
        <a href="/desserts" style="text-decoration: none;">
          <div class="c_img1" style="margin: 20px; border-radius: 15px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <img src="static/img/d.jpg" style="width: 100%; height: 180px; object-fit: cover; border-radius: 15px 15px 0 0;">
              <button class="btn_mnu" style="width: 100%; padding: 20px; background-color: #2196F3; color: white; border: none; border-radius: 0 0 15px 15px; cursor: pointer; font-size: 18px;">Desserts</button>
          </div>
          </a>
          <a href="/drinks" style="text-decoration: none;">
          <div class="c_img1" style="margin: 20px; border-radius: 15px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <img src="static/img/drink.jpeg" style="width: 100%; height: 180px; object-fit: cover; border-radius: 15px 15px 0 0;">
              <button class="btn_mnu" style="width: 100%; padding: 20px; background-color: #FF5722; color: white; border: none; border-radius: 0 0 15px 15px; cursor: pointer; font-size: 18px;">Drinks</button>
          </div>
          </a>
      </div>
  </div>
</div>

   <!---footer section---->
   <div class="footer" style="margin-top:20px;">
      <div class="contain" style="padding:20px;">
      <div class="col">
    <h1>Menu</h1>
    <ul>
      <li>Deals</li>
      <li>Pizza</li>
      <li>Sides</li>
      <li>Drinks</li>
      <li>Desserts</li>
    </ul>
  </div>
   <div class="col">
   <h1>About</h1>
   <ul>
      <li>About Us</li>
      <li>Contactless delivery</li>
      <li>Nutrition</li>
   </ul>
</div>
<div class="col">
<h1>Our Policies</h1>
<ul>
   <li>Privacy</li>
   <li>Terms & Conditions</li>
   <li>FAQs & Help</li>
</ul>
</div>
<div class="col">
<h1>Visit Pizza Hut</h1>
<ul>
   <li>Locate a store</li>
   <li>Blog</li>
</ul>
</div>
<div class="col social">
    <h1>Follow Us</h1>
    <ul>
      <li><img src="static/img/twitter.png" width="25" style="width: 25px;"></li>
      <li><img src="static/img/instas.png" width="25" style="width: 25px;"></li>
      <li><img src="static/img/facebook.png" width="25" style="width: 25px;"></li>
           <li><img src="static/img/youtube.png" width="25" style="width: 25px;"></li>
    </ul>
  </div>
   <div class="col social">
       <ul>
           <li><img src="static/img/apps.jpg" width="32" style="width: 200px;"></li>
       </ul>
     </div>
</div>
</div>
<script src="static\js\script.js"></script>
</body>
</html>
 