<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="static\about.css" rel="stylesheet" type="text/css" media="all">
    <title>Store Location</title>
</head>
<body>
    <!-- header section starts  -->
    <div class="header">
        <section class="flex">
            <a href="#" class="rainbow rainbow_text_animated"><img src="static\logo.png" style="width:5%;">Pizza Pizza</a>
            <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/menu">Menu</a>
            <a href="/store_location">Store Locate</a>
            </nav>
            <div class="icons">
                <button class="btn_s" onclick="openForm()">Register</button>
            </div>
        </section>
    </div>
    </body>

    </html>